button.btn-root {
  height: 56px;
  font-family: "roboto";
}
a.btn-root {
  font-family: "roboto";
}
button.btn-root.primary {
  background: #007bff;
  color: #fff;
}
button.btn-root.secondary {
  background: #f2f2f7;
  color: #000;
}
button.btn-root.outline {
  border: 2px solid #000;
  background: #fff;
  color: #000;
}
button.btn-root.destructive {
  background: #eb0014;
  color: #fff;
}
button.btn-root.ghost {
  background: transparent;
  color: #000;
}
button.btn-root.ghost {
  background: transparent;
  color: #000;
}
button.btn-root.doubleIcon,
button.btn-root.leftIcon,
button.btn-root.rightIcon {
  background: #f2f2f7;
  color: #000;
}
button.btn-root.undefined {
  background: #f2f2f7;
  color: rgba(0, 0, 0, 0.5);
  cursor: auto;
}
