@import "tailwindcss";
@theme {
  --color-grey: #f2f2f7;
  --color-dark-grey: #545454;
  --color-blue: #007bff;
  --color-red: #eb0014;

  --radius-xl: 14px;

  --height-controlsm: 34px;
  --height-controllg: 56px;

  --font-display: "Roboto", "sans-serif";
}
